---
layout: tags
title: 'Tag Index'
lang: en
permalink: /en/tags/
---

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
{% assign current_lang = page.lang | default: "en" %}

{% assign raw_tags = "" %}
{% for post in site[current_lang] %}
  {% for tag in post.tags %}
    {% assign raw_tags = raw_tags | append: tag | append: "|" %}
  {% endfor %}
{% endfor %}
{% assign tags_list = raw_tags | split: "|" | uniq | sort %}

{% for tag in tags_list %}
  {% if tag != "" %}
    {% assign tag_count = 0 %}
    {% for post in site[current_lang] %}
      {% if post.tags contains tag %}
        {% assign tag_count = tag_count | plus: 1 %}
      {% endif %}
    {% endfor %}
    <a href="#{{- tag -}}" class="btn btn-primary tag-btn">
      <i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{- tag -}}&nbsp;({{tag_count}})
    </a>
  {% endif %}
{% endfor %}

<div id="full-tags-list">
{% for tag in tags_list %}
  {% if tag != "" %}
    {% assign tag_count = 0 %}
    {% for post in site[current_lang] %}
      {% if post.tags contains tag %}
        {% assign tag_count = tag_count | plus: 1 %}
      {% endif %}
    {% endfor %}

    <h2 id="{{- tag -}}" class="linked-section">
        <i class="fas fa-tag" aria-hidden="true"></i>
        &nbsp;{{- tag -}}&nbsp;({{tag_count}})
    </h2>
    
    <div class="post-list">
        {% for post in site[current_lang] %}
          {% if post.tags contains tag %}
            <div class="tag-entry">
                <a href="{{ post.url | relative_url }}">{{- post.title | strip_html -}}</a>
                <div class="entry-date">
                    <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: date_format -}}</time>
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}
{% endfor %}
</div>
